@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

.custom-font {
  font-family: 'Roboto Mono', monospace;
}

/* Machine_Frame.css */
.highlight-text {
  background: linear-gradient(#8aa6aa, #8aa6aa) content-box;
  -webkit-background-clip: text;
  color: transparent;
}
